<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="conn" value="AccountEndpoint = https://resumedb29.documents.azure.com:443/;AccountKey=xjoMTB966cFHlEM6nF6foTlCUoRHZmcG898oAKziKF7wreKWZ2WImgs5OhKJ6fN7THTPL05bkWjUpPsUPuK6Ow==;"/>
		<add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=storageresume1;AccountKey=Vw/0rvPnzFHJNjrYu9wH0IMMe+d8qWooGWqYqkCKefWRUTGXEagwhKezxBpJgJwHvZw2OfW3Epk7+AStR2FK8g==;EndpointSuffix=core.windows.net"/>
		<add key="UserCount" value="2"/>
	</appSettings>
</configuration>