<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="conn" value="AccountEndpoint = https://resumedb29.documents.azure.com:443/;AccountKey=xjoMTB966cFHlEM6nF6foTlCUoRHZmcG898oAKziKF7wreKWZ2WImgs5OhKJ6fN7THTPL05bkWjUpPsUPuK6Ow==;"/>
		<add key="share" value="\\cdserver.com\share\"/>
		<add key="UserCount" value="2"/>
	</appSettings>
</configuration>