<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <UserName>$resumeapi17</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://resumeapi17.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0df8089e-a192-4f79-aa34-90cddfdcdbb9/resourceGroups/Koresumeproject/providers/Microsoft.Web/sites/resumeapi17</ResourceId>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://resumeapi17.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>